.sign-in,
.register {
  min-width: 350px;
  min-height: 400px;
  max-width: 100%;
  color: #282c34;
  background: white;

  padding: 25px;
  backdrop-filter: blur(9px) saturate(177%);
  background-color: rgba(17, 25, 40, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);

  .head-text {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .err-message {
    color: #fff;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 15px 0;
      height: 40px;
      width: 90%;
      outline: none;
      border: none;
      color: #fff;
      border-bottom: solid 1px #fff;
      font-size: 1rem;
      background: transparent;

      &::placeholder {
        color: #fff;
        font-size: 1rem;
      }

      &:focus {
        background: transparent;
      }
    }

    button {
      width: 250px;
      margin-top: 25px;
      background: #6e54b4;
      border-radius: 10px;
    }
  }

  .google-btn {
    margin-top: 25px;
    width: 250px;
    background: #6e54b4;
    border-radius: 10px;
  }

  .switch-prompt {
    margin-top: 15px;
    color: #fff;

    a {
      margin-left: 8px;
      color: #fff;
    }
  }
}
